body {
	margin: 0;
}

.centered-container {
	display: grid;
	grid-template-areas:
	  ". . . ."
	  ". app app ."
	  ". app app ."
	  ". app app ."
	  ". app app ."
	  ". app app ."
	  ". app app ."
	  ". app app ."
	  ". app app ."
	  ". . . .";
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(10, 10vh);
}

@media (max-width: 768px) {
	.centered-container {
		grid-template-areas:
		  ". . . . . . . ."
		  ". app app app app app app ."
		  ". app app app app app app ."
		  ". app app app app app app ."
		  ". app app app app app app ."
		  ". app app app app app app ."
		  ". app app app app app app ."
		  ". app app app app app app ."
		  ". app app app app app app ."
		  ". . . . . . . .";
		grid-template-columns: repeat(8, 12.5%);
		grid-template-rows: repeat(10, 10vh);
	}
}

@media (max-width: 480px) {
	.centered-container {
		grid-template-areas: "app";
		grid-template-columns: repeat(1, 100%);
		grid-template-rows: repeat(1, 100vh);
	}
}

.app {
	grid-area: app;
	padding: 0 15px 15px 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 15px;
}

.page-content {
	height: 100%;
}

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
}